/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #b3d4fc;
    margin: 80px 0 80px 0!important;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body{
    background-color: #000611;
    margin: 0 10% 0 10%;
    text-align: justify;
}

section {
    margin-top: 12vh;
}

img {
    width: 100%;
    margin: 0 auto;
}

.logo img{
    width: 160px;
    margin-top: 7vh;  
}

.first-letter {
    font-size: 4em!important;
}

.main-nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: -8vh;
}

.main-nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
}

.main-nav ul li a:hover {
    text-decoration: underline overline rgb(52, 252, 86);
}

li {
    padding: 10px;
    list-style: none;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: left;
}

p, h2, h3 {
    color: #98C1D9;
}

a, h1 {
    color: #6969B3;
}

h1 {
    padding: 1em;
    border: 1px solid#b3d4fc;
}

p, h3 {
    font-family: 'Open Sans', sans-serif;
}

a, h2 {
    font-family: 'Roboto Mono', monospace;
}

.intro-title {
    font-size: 4em;
    font-family: 'Anton', sans-serif;
}

p { 
    font-size: 1.2em;
}

h3 {
    font-size: 1.6em;
}

.centerTitle {
    margin: 5vh auto;
    width: 30%;
    padding: 2em;
    text-align: center;
    border-top: .1em solid rgba(52, 252, 86, .15);
}

.main-content {
    height: 80vh;
    padding-bottom: 10vh;
}

.landing-articlebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background-color: aqua;*/
}

.preview-articlebox {
    width: 25%;
    height: 20%;
    overflow: hidden;
    padding: 5px;
}

.preview-articlebox figure, .main-articlebox figure {
    width: 100%;
    margin: 0;
}

.preview-articlebox img {
    height: 20vh;
    position: relative;
        
}

.user-bar {
    margin-top: 2em;
    background-color: brown;
}

.user-bar ul {
    display: flex;
    position: relative;
    bottom: 5px;
    height: 30px;
}

.user-bar li {
    margin: 0 .2em;
}

#like, #comment, #share {
    position: relative;
    height: 30px;
    width: auto;
    color: #6969B3;
}

#comment {
    position: relative;
    height: 20px;
    width: auto;
    background-image: url(../img/comments.svg);
    background-repeat: no-repeat;
    
 }

 i {
    position: relative;
    margin-left: 2em;
 }
 
figcaption {
    color: #6969B3;
    width: 100%;
    text-align: center;
}

.article-author {
    font-size: .9em;
    font-style: italic;
    color: #000611;
    font-weight: 700;
}
.bio-picbox  {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-image: url("../img/justice-league-aquaman.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin: 1em;
}

/* ================================================================= ARTICLE PAGE START ================================================================================*/
.main-articlebox {
    position: relative;
    width: 100%;
    height: 70vh;
    border: 5px solid #b3d4fc;
    
}

.main-articleBG {
    position: absolute;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    z-index: -1;
    background-position-y: -50vh; 
}

.asidebox {
    position: absolute;
    right: 0;
    width: 30%;
    height: 70vh;
    background-color: rgba(105, 105, 179, .8); 
    padding: .5em;
    box-sizing: border-box;
}

.thumbnailsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.tinyPic {
    height: 10vh;
    width: auto;
    margin: 0;
}


/* ================================================================= ARTICLE PAGE END ================================================================================*/

/* ================================================================= FORM START ================================================================================*/
.contact-box {
    margin: 5% 20%;
}

label {
    color:#98C1D9; 
}

input, textarea {
    margin: 5px 0 5px 0;
}

textarea {
    width: 100%;
}

input:focus, textarea:focus
{
    background-color: rgb(52, 252, 86);
}

/* ================================================================= FORM END ================================================================================*/

/* ================================================================= FOOTER START ================================================================================*/
footer {
    margin-top: 50px;
    text-align: center;
    border-top: .5px solid #b3d4fc;
}

footer h2 {
    text-align: center;
}

footer p {
    font-size: .8em;
    margin-top: 6vh;
}

.sources ul {
    display: flex;
    justify-content: space-around;
    margin-top: 6vh;

}

.sources ul li {
    border: 1px solid #b3d4fc;
    padding: 1em;
}

/* ================================================================= FOOTER END ================================================================================*/

/* ================================================================= TABLE START ================================================================================*/
table {
    width: 100%; 
    color: #b3d4fc;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: .1em solid rgb(52, 252, 86);
}

td {
    padding: 1em;
    text-align: left;
}

td ul li {
    list-style-type: circle;
}
/* ================================================================= TABLE END ================================================================================*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
